@font-face {
  font-family: ds-digi;
  src: url(/src/fonts/ds_digital/DS-DIGI.TTF);
}

@font-face {
  font-family: Inter;
  src: url(/src/fonts/Inter/static/Inter-Medium.ttf);
}

@font-face {
  font-family: inter-light;
  src: url(/src/fonts/Inter/static/Inter-Regular.ttf);
}

@font-face {
  font-family: Orbitron;
  src: url(/src/fonts/Orbitron/static/Orbitron-Regular.ttf);
}
